.App {
  text-align: center;
}

.header {
  text-align: center;
  background-color: rgb(191, 223, 197);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}
