@import url('https://fonts.googleapis.com/css2?family=Anton&family=Yanone+Kaffeesatz:wght@200;300;400&display=swap');
;

form {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 10px;
    padding: 5px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1.3em;
}

.searchBtn {
    border-radius: 7px;
    min-width: 50%;
    background: rgb(205, 205, 255);
    box-shadow: 4px 4px 4px black;
}

.searchBtn:hover {
    font-size: 1.5em;
    background-color: rgb(126, 107, 184);
    transition: all .3s ease-in-out;
}

input {
    border: 1px solid;
    border-radius: 7px;
    box-shadow: 4px 4px 4px black;
    padding: 0.5em;
}