.spacing {
   padding: 10px;
}

table {
  padding: 10px;
}

.empTable {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  
}

#empTable td,
#empTable th {
  border: 1px solid #ddd;
  padding: 15px;
  /* align-content: center; */
}

#empTable tr:nth-child(even) {
  background-color: #f2f2f2;
}

#empTable tr:hover {
  background-color: rgb(235, 205, 205);
}

thead {
  display: table-header-group;
  padding-top: 12px;
  padding-bottom: 20px;
  background-color: #2445288a;
  color: rgb(4, 1, 1);
  justify-content: space-between;
  text-align: center;
  padding-bottom: 18px;
  text-transform: uppercase;
  border: solid 2px black;
  border-radius: 5px;
}

th{
  border: solid 2px black;
  color: white;
  font-family: bold;
  text-shadow: 
  1px 1px 1px rgb(10, 10, 10),
  -1px 1px 2px rgb(0, 0, 0),
   1px -1px 1px #000,
 -1px -1px 1px rgb(0, 0, 0);
 
}

td {
  text-align: center;
  padding-top: 10px;
}

tr {
padding: 10px;
}

img {
  /* padding: 10px; */
  border: solid .5px black;
  border-radius: 0.3em;
}

a {
  color: rgb(84, 145, 84);
}